<%# <><%= render 'banner' %>
<%# <div class="container mt-5 .bg-dark-subtle"> %>
<%= render 'carousel' %>
<%# </div> %>
 <%= link_to "New List", new_list_path, class: "btn btn-secondary" %>


<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3 class="mb-3">Current Collections </h3>
      </div>
      <div class="col-6 text-right">
        <a class="btn btn-dark-subtle mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-dark-subtle mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="col-12">
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
              <h2><% @lists.each_with_index do |list,index| %></h2>
                <% if index <= 3 %>
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>">
                    <div class="card-body">
                      <h4 class="card-title"><%= link_to list.name, list_path(list), class: "btn btn-white text-white fs-2 stretched-link" %></h4>
                      <p class="card-text">" <%= list.comment %> "</p>
                    </div>
                  </div>
                </div>
                     <% end %>
                     <% end %>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                  <h2><% @lists.each_with_index do |list, index| %></h2>
                  <% if index > 3 %>
                           <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>">
                    <div class="card-body">
                       <h4 class="card-title"><%= link_to list.name, list_path(list), class: "btn btn-white text-white fs-2 stretched-link" %></h4>
                      <p class="card-text">" <%= list.comment %> "</p>
                    </div>
                  </div>
                </div>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

   <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
