<%# <><%= render 'banner' %>
<%# <div class="container mt-5 .bg-dark-subtle"> %>
<%= render 'carousel' %>
<%# </div> %>
 <%= link_to "New List", new_list_path, class: "btn btn-secondary" %>
<h2><% @lists.each do |list| %></h2>
  <div class="slick-slide slick-current slick-active slick-center" data-slick-index="3" aria-hidden="false" style="width: 147px;" tabindex="-1" role="option" aria-describedby="slick-slide63">
    <div><%= link_to list.name, list_path(list) %> </div>
         <div class="item card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>)">
    </div>

  </div>
    <% end %>
